@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Poppins');


html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #282a36;
    font-family: 'Poppins', sans-serif;
    z-index: 0;
    height: 100%;
    margin: 0;
}


#page {
    min-height: 100%;
}

#main {
    padding-bottom: 140px;
}

#navbar {
    background-color: #44475a;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    box-shadow: 2px 4px 10px rgba(22, 22, 22, 0.301);
}

#logoWrapper {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

#logoImage {
    width: 38px;
    left: 30px;
    float: left;
    position: relative;
    top: 6px;
}

#logoText {
    color: #f5f5f5;
    font-size: 1.3rem;
    float: left;
    font-family: Open Sans;
    font-weight: 600;
    padding-left: 10px;
    margin-left: auto;
    position: relative;
    left: 30px;
    bottom: 1px;
}

#about {
    color: #cfcfcf;
    font-size: 1rem;
    font-weight: 600;
    float: right;
    position: relative;
    right: 40px;
    top: 17px;
    opacity: 0.9;
}

#about:hover {
    color: #c298fc;
    opacity: 1.0;
}

#projects {
    padding-bottom: 400px;
}


#projectsHeader {
    position: relative;
    top: 180px;
    text-align: center;
    color: #f8f8f8;
    font-size: 22px;
}

#projectsGrid {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    padding: 10px;
    width: 550px;
    position: relative;
    top: 190px;
    margin: auto;
}

.item {
    aspect-ratio: 1/1;
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%; 
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
    }

.item:hover {
    opacity: 1.0;
    top: -8px;
}

.itemBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    filter: contrast(0.9) brightness(0.8) saturate(0.8) grayscale(0.2);
}

.itemBackground::after {
    content: '';
    border: 1px solid #8b8b8b;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
}


.itemContent {
    display: flex;
}

.itemText {
    text-decoration: none;
    display: block;
    z-index: 1;
    padding: 1rem;
    font-size: 1.06rem;
    flex: 1;
}


.itemTitle {
    color: #111111;
}

a[href] .itemContent .itemTitle::after {
    content: '';
    background-image: url(assets/icons/tab.svg);
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 100% 100%;
    opacity: 0.9;
    margin-left: 0.5em;
}


.itemDescription {
    color: #141414;
}

.link {
    text-decoration: none;
}

/*RUOKABOT*/

#ruokabot {
    width: 100%;
    height: 1vh;
}

#iphone {
    width: 250px;
    position: relative;
    top: 60px;
    left: 100px;
}

#chef {
    width: 70px;
    height: 70px;
    position:absolute;
    left: 550px;
    top: 150px;
}

#ruokaTitle {
    font-family: Open Sans;
    font-weight: 600;
    color: #f5f5f5;
    font-size: 2.2rem;
    position: absolute;
    left: 635px;
    top: 160px;
}

#ruokaDescription {
    color: #dadada;
    font-family: 'Poppins', sans-serif;   
    font-size: 17px;
    display: block;
    width: 500px;
    position: relative;
    left: 460px;
    bottom: 240px;
    overflow: hidden
}

#ruokaIcons {
    width: 500px;
    height: 50px;
    position: relative;
    bottom: 130px;
    left: 455px;

}

.ruokaLink {
    color: #cfcfcf;
    text-decoration: none;
    padding-right: 20px;
    opacity: 0.9;
}

.ruokaLink:hover {
    color: #c298fc;
    opacity: 1.0;
}

.ruokaLogo {
    width: 50px;
    height: 50px;
}


.ruokaLinkText {
    position: relative;
    bottom: 18px;
}

#githubLogo {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 46px;
    height: 46px;
    padding-bottom: 4px;
    padding-right: 6px;    
}


#discordLogo {
    filter: brightness(0.9)
}


/*FOOTER*/

#footer {
    margin-top: -30px;
    height: 140px;
    background: #44475A;
    overflow: hidden;
}

#footerGrid {
    height: 100%;
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: repeat(2, 1fr);
    width: 800px;
    margin: auto;
}


#footerLeftWrapper {
    
    max-width: 400px;
    position: relative;
    overflow: hidden;
}

#footerRightWrapper {
    
    max-width: 400px;
    position: relative;
    overflow: hidden;
}


#footerAboutHeader {
    float: right;
    color: #f5f5f5;
    display: block;
    font-size: 1rem;
    position: relative;
}


#footerAboutContent {
    color: #91989C;
    display: block;
    font-size: 0.9rem;
    position: relative;
}


.footerIconText {
    color: #f5f5f5;
    font-size: 1rem;
    display: block;
    position: relative;
}


#footerLocation::before {
    content: '';
    background-image: url(assets/icons/location.svg);
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 100% 100%;
    margin-right: 0.8em;   
}


#footerEmail::before {
    content: '';
    background-image: url(assets/icons/email.svg);
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 100% 100%;
    margin-right: 0.8em;   
}


#footerEmail:hover {
    color: #c298fc;    
}

