@import url('https://fonts.googleapis.com/css2?family=Open+Sans');


body {
    background-color: #282a36;
}

#navbar {
    background-color: #44475a;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;

}

#logoWrapper {
    width: 480px;
    height: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

#logoImage {
    padding-left: 30px;
    padding-bottom: 2px;
    float:left;
    position: relative;
    top: 7px;
}

#logoText {
    color: #f8f8f8;
    font-size: 28px;
    float:left;
    font-family: Open Sans;
    font-weight: 600;
    position: relative;
    bottom: 2px;
    left: 14px;
}

#about {
    color: #f8f8f8;
    font-size: 18px;
    font-family: Open Sans;
    float: right;
    position: relative;
    right: 40px;
    bottom: 45px;
}

#projectsGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #44475A;
    padding: 10px;
    width: 800px;
    height: 200px;
    position: relative;
    top: 160px;
    margin: auto;
    
}

.item {
    aspect-ratio: 1/1;
    position: relative;
    top: 0;
    max-width: 100%; 
    overflow: hidden;
    text-decoration: none;
}

.itemBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.itemContent {
    display: flex;
}


.itemHeader {
    color: #070707;
    text-decoration: none;
}

.itemDescription {
    color: #070707;
    text-decoration: none;
}

.link {
    text-decoration: none;
}


#projectsHeader {
    position: relative;
    top: 150px;
    width: 100%;
    text-align: center;
    color: #f8f8f8;
}
